---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

<!-- {% if page.title != "About" %} -->
  <!-- <div class="date"> -->
    <!-- Written on {{ page.date | date: "%B %e, %Y" }} -->
  <!-- </div> -->
<!-- {% endif %} -->

</article>
